$required-label-color: #ef2828;
$form-label-color: #3b424a; //  #abafbf; // #6b6f80;

$field-readonly-color: #f2f7fb;

.form-field-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
        font-size: 1.5rem;
        color: var(--app-primary-color);
        font-weight: 500;
        margin: 0;
    }
}

.form-field-group {
    margin-bottom: 0.5rem;
    label {
        color: #585f77;
        margin-bottom: 2px;
        .required-field {
            color: var(--bs-danger);
            padding-left: 0.5rem;
        }
    }
    .form-control, .form-select {
        // border: 1px solid rgba(var(--app-primary-rgb), 50%);
        border: 1px solid var(--app-primary-color);
        &:focus {
            // box-shadow: none;
            // border: 1px solid #757575;
            // box-shadow: inset 0 0 0.5px 0.5px #757575;

            box-shadow: inset 0 0 0.5px 0.5px var(--app-primary-color);

            &::placeholder {
                -webkit-transform: translate(8px);
                transform: translate(8px);
            }
            // &::placeholder,
            // &::-moz-placeholder,
            // &::-webkit-input-placeholder,
            // &:-ms-input-placeholder {
            //     -webkit-transform: translate(5px);
            //     transform: translate(5px);
            // }
        }

        &.required-field {
            border-bottom: 2px solid $required-label-color;
        }

        &.readOnly {
            background-color: var(--app-readonly-color);
        }
    }

    .form-invalid-input {
        .form-control {
            border: 1px solid #ced4da;
            border-bottom: 2px solid #c80000;
        }
    }
}

.form-invalid-input,
.form-invalid-date {
    position: relative;
}
.form-invalid-input::before {
    content: attr(data-validation-info);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    // border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
    pointer-events: none;
    // font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}
// .form-invalid-input::after {
//     font-family: "Font Awesome 5 Free";
//     font-weight: 600;
//     content: "\f06a";
//     // content: "\f05a";
//     // font-family: FontAwesome;
//     font-size: 16px;
//     color: #c80000;
//     display: block;
//     position: absolute;
//     background-color: #fff;
//     top: 50%;
//     -webkit-transform: translateY(-50%);
//     -moz-transform: translateY(-50%);
//     -ms-transform: translateY(-50%);
//     -o-transform: translateY(-50%);
//     transform: translateY(-50%);
//     right: 10px;
// }

.form-input-field-col.form-invalid-input::after {
    right: 25px;
}
.form-invalid-input:hover:before {
    visibility: visible;
    opacity: 1;
}
.form-invalid-input input,
.form-invalid-input textarea {
    border-bottom: 2px solid #c80000;
}
.form-invalid-date input,
.form-invalid-date textarea {
    border-bottom: 2px solid #c80000;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: $field-readonly-color;
    opacity: 1;
}

.form-check label,
.form-check .form-check-input {
    cursor: pointer;
}



.page-sub-header{
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--app-primary-color);
    border-bottom: 1px dashed var(--app-primary-color);
    display: flex;
    align-items: center;
    .form-check{
        margin-left: 3rem;
        font-size: 0.9rem;
    }
}