.table-filter-container {
    display: flex;
    justify-content: flex-end;
    border: none;
    margin-bottom: 8px;
    padding: 10px 8px;
    padding-top: 4px;
    background: #ffff;
    // box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    .table-filter-content-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        .table-group-container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            margin-right: 8px;
            margin-top: 8px;
            .header-label {
                font-weight: 500;
                padding-right: 10px;
            }
            .option-label {
                padding-right: 20px;
            }
        }
    }
    .table-filter-button-container {
        display: flex;
        align-items: center;
        padding: 0 4px;
        // padding-left: 10px;
        .filter-button-container {
            position: relative;
            margin-right: 0;
            .icon-button {
                min-width: auto;
                width: 50px;
                padding: 4px 8px;
                margin-top: -2px;
            }
        }
    }
    .input-field-container {
        max-width: 168px;
        margin-left: 8px;
        margin-top: 16px;
        position: relative;
        &.input-date-container {
            max-width: initial;
        }
        &.group-dropdown-container {
            position: relative;
            .option-menu-container {
                position: absolute;
                width: 100%;
                background: #fff;
                z-index: 1;
                border: 1px solid #ccc;
                border-top: 0;
                padding: 8px 0;
                overflow: hidden;
                .option-label {
                    padding: 6px 16px;
                }
                .option-button-container {
                    text-align: center;
                }
            }
        }
        .floating-label {
            position: absolute;
            top: -10px;
            left: 8px;
            font-size: 12px;
            z-index: 1;
            background: #fdfeff;
            color: #9b9da4;
            margin-bottom: 0;
            padding: 1px 4px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        .value-label {
            background-color: #f2f7fb;
            min-width: 100px;
        }
        .icon-button {
            padding: 4px 8px;
            margin-left: 8px;
        }
    }

    // &.static{
    //     position: absolute;
    //     width: 100%;
    //     padding-bottom: 0;
    //     margin-bottom: 0;
    //     left: 0;
    //     top: -10px;
    // }
}

.table-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    margin-bottom: 16px;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    background: #ffffff;
    .table-card-container {
        width: 100%;
        padding: 15px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 576px) {
    .table-filter-container {
        display: flex;
        justify-content: space-evenly;
        .table-filter-content-container {
            justify-content: flex-start;
            .input-field-container {
                margin-bottom: 16px;
                width: 100%;
                max-width: none;
            }
        }
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}