:root{
    --app-primary-color: #001C8E;
    --app-primary-rgb: 0, 28, 142;
    --app-font-color: #ffff;
    --app-button-color:#FE9A2D;
    --app-readonly-color: rgba(0, 125, 197, 0.1);
    --app-page-background: #FCFDFF; // #f4f4f4;

    --app-font-family:'Nunito';

    --bs-breadcrumb-divider: '>';
}