.btn-alt {
    border: 1px solid #3d3d3d;
    border-radius: 5px;
}

.tab-menu-container {
    display: flex;
    justify-content: space-between;
}

.modal {
    .modal-header {
        color: #001c8e;
        border-bottom: none;
    }
    .modal-content {
        border-radius: 15px;
    }
    label,
    h5 {
        color: #001c8e;
    }
}