.search-icon{
    top: 10px;
    right: 10px;
}

.modal{
    .modal-header{
        border-bottom: none;
    }
    .modal-content{
        border-radius: 15px;
    }
    label,h5{
        color: #001C8E;
    }
}

.content-3{
    border: 1px solid  #001C8E;
    border-radius: 15px;
}