<section class="logo-page container-fluid full">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-7">
      <div class="content-display">
        <div class="aside">
          <div>
            <h1>Warehouse</h1>
            <h1>Management</h1>
            <h1>System</h1>
          </div>
        </div>
        <div class="last">
          It incorporates features such as mobile RF barcode scanning, defined strategies for putaway and picking, task
          management, return authorization receipts, and cycle count plans
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-5 col-lg-5 login-alignment">
      <div class="">

        <div class=" bg-white p-5 login-container">

          <div>
            <div class="d-flex justify-content-center align-items-center">
              <img src="../../../assets/images/warehouse_logo.png" alt="">
            </div>
            <div class="text-center">
              <small>Warehouse Management Software</small>
            </div>
            <div class="login-title">
              <h1>LOG IN</h1>
            </div>
            <form [formGroup]="loginForm" class="login-content-form validate-form" (ngSubmit)="onLogin()"
              autocomplete="off">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  formControlName="User_Name" maxlength="100">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <div class="position-relative">
                  <input [type]="changeType?'password':'text'" class="form-control" id="exampleInputPassword1"
                    formControlName="Password" maxlength="100">
                  <img src="../../../assets/icons/password.svg " class="position-absolute password" alt=""
                    (click)="onpass()" *ngIf="passwordclose">
                  <img src="../../../assets/icons/password-open.svg" class="position-absolute password1" alt=""
                    *ngIf="passwordopen" (click)="onclose()">
                </div>
              </div>
              <div class="d-flex justify-content-end align-items-center"> <a href="#">Forget password</a></div>
              <div *ngIf="invalidLoginMessage" class="login-invalid-container">
                <label [innerHtml]="invalidLoginMessage"></label>
              </div>
              <div class="mt-3">
                <button class="login-button" type="submit">
                  <span>LOG IN</span>
                  <div *ngIf="loginValLoader" class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </button>
              </div>
              <!-- <div class="text-center footer">
                <footer> &copy; {{currentYear}} ALLMARK Pvt Ltd. All rights Reserve</footer>
              </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>



</section>


<!-- <section class="login-container">
  <div class="login-content-container">
    <div class="row">
      <div class="col-md-6">
        <div>
          <span>Warehouse Management System</span>
        </div>
      </div>
      <div class="col-md-6">
        <div>

        </div>
      </div>
    </div>
  </div>
</section> -->