<div class="breadcrumb-container">
    <div class="breadcrumb-bar">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb ">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item active" aria-current="page">
                    <a [routerLink]="'/dispatch'">Dispatch Order</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">Detail</li>
            </ol>
        </nav>
    </div>
    <div class="d-flex align-items-center gap-2">
        <div class="aside-container">
            <button class="all-back-button" type="button" (click)="navigateBack()">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" className="icon icon-tabler icon-tabler-arrow-back-up"
                        width="24" height="24" viewBox="0 0 24 24" strokeWidth="2" stroke="currentColor" fill="none"
                        strokeLinecap="round" strokeLinejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M9 14l-4 -4l4 -4" />
                        <path d="M5 10h11a4 4 0 1 1 0 8h-1" />
                    </svg>
                </span>
                <span class="hover-text">Back</span>
            </button>
        </div>
        <div class="aside-container">
            <button class="all-button" (click)="saveDispatch()">
                <span class="ms-2">Dispatch</span>
            </button>
        </div>
    </div>
</div>

<div class="document-main-container">
    <div class="form-container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 form-group form-field-group">
                        <label>
                            <span>PickList Number</span>
                            <span class="required-field">*</span>
                        </label>
                        <div class="form-input-field">
                            <input type="text" class="form-control" autocomplete="off"
                                [(ngModel)]="pickListDetail.Picklist_Number" />
                        </div>
                    </div>
                    <div class="col-md-4 form-group form-field-group">
                        <label><span>PickList Date</span></label>
                        <div class="form-input-field">
                            <input type="text" class="form-control" autocomplete="off"
                                [(ngModel)]="pickListDetail.Picklist_Date" />
                        </div>
                    </div>
                    <div class="col-md-4 form-group form-field-group">
                        <label>
                            <span>Delivery Date</span>
                            <span class="required-field">*</span>
                        </label>
                        <div class="form-input-field">
                            <input type="text" class="form-control" autocomplete="off"
                                [(ngModel)]="pickListDetail.Delivery_Date" />
                        </div>
                    </div>

                    <!-- <div class="col-md-3 form-group form-field-group">
                        <label><span>Purchase Order Date</span></label>
                        <div class="form-input-field">
                            <input type="text" class="form-control" autocomplete="off"
                                [(ngModel)]="pickListDetail.Purchase_Order_Date" />
                        </div>
                    </div> -->
                    <div class="col-md-4 form-group form-field-group">
                        <label><span>Customer</span></label>
                        <div class="form-input-field">
                            <input type="text" class="form-control" autocomplete="off"
                                [(ngModel)]="pickListDetail.Customer_Name" />
                        </div>
                    </div>
                    <div class="col-md-4 form-group form-field-group">
                        <label><span>Warehouse</span></label>
                        <div class="form-input-field">
                            <input type="text" class="form-control" autocomplete="off"
                                [(ngModel)]="pickListDetail.Warehouse_Name" />
                        </div>
                    </div>
                    <div class="col-md-4 form-group form-field-group">
                        <label><span>Warehouse Address</span></label>
                        <div class="form-input-field">
                            <input type="text" class="form-control" autocomplete="off"
                                [(ngModel)]="pickListDetail.Warehouse_Address" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="page-sub-header justify-content-between">
                    <span class="title">Products</span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="total-table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Material</th>
                                <th>Part Number</th>
                                <th>HSN Code</th>
                                <th class="text-center">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of pickingProducts; let i=index;">
                                <td [innerHtml]="i+1"></td>
                                <td>
                                    <span
                                        [innerHtml]="(product.Material_Code || '') + ' '+ (product.Material_Name || '')"></span>
                                </td>
                                <td>
                                    <span [innerHtml]="product.Part_Number || '-'"></span>
                                </td>
                                <td>
                                    <span [innerHtml]="product.HSN_Code || '-'"></span>
                                </td>
                                <td class="text-center">
                                    <span [innerHtml]="product.Picking_Quantity || '-'"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="col-md-12">
                <div class="row  mt-4">
                    <div class="col-md-6 form-group form-field-group">
                        <label>Terms and Condition</label>
                        <div class="form-input-field">
                            <textarea class="form-control" cols="30" rows="3"
                                [(ngModel)]="pickListDetail.Terms_Condition"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6 form-group form-field-group">
                        <label>Remarks</label>
                        <div class="form-input-field">
                            <textarea class="form-control" cols="30" rows="3"
                                [(ngModel)]="pickListDetail.Remarks"></textarea>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>