.shelf-container {
    background: #f6f6f6;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.25rem;
}

.inner-table {
    border: 1px solid #ccc;
    th {
        background-color: #ccc;
    }
}

.outer-table {
    th {
        background-color: var(--app-primary-color);
        color: #fff;
    }
}
