@font-face {
    font-family: "Nunito";
    src: url("nunito/Nunito-Regular.ttf") format("truetype"),
      url("nunito/Nunito-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Nunito";
    src: url("nunito/Nunito-SemiBold.ttf") format("truetype"),
      url("nunito/Nunito-SemiBoldItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("nunito/Nunito-SemiBold.ttf") format("truetype"),
      url("nunito/Nunito-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("nunito/Nunito-Bold.ttf") format("truetype"),
      url("nunito/Nunito-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }